.square {
  height: 360px;
  width: 700px;
  background: #fff;
  border: 3px solid #999;
  font-size: 14px;
  font-weight: bold;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;

}
